@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Figtree:wght@300;400;500;600;700&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Rampart+One&family=Ubuntu:wght@300;400;500;700&display=swap');



header{

  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(139.73deg,#313d5c,#3d2a54);
  color: white;
}

.header--contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tamaño--calculadora--img{
  width: 4rem;
  height: 4rem;
}

header h1{
  font-family: 'Kanit', sans-serif;
  font-weight: bolder;
  color: #865edd;
  font-size: 3rem;
}

.header--parrafo1{
  font-size: 1.4rem;
  font-weight: 400;
}

.header--parrafo2{
  width: 80%;
  line-height: 2rem;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Figtree', sans-serif;
}

.color--name{
  font-size: 1.2rem;
  color: #865edd;
  font-family: 'Alfa Slab One', cursive;
}

main{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 55rem;
}

.contenedor--descripcion{
  width: 50%;
  font-family: 'Figtree', sans-serif;
  height: 36rem;
  color: white;
}

.contenedor--descripcion h3{
  font-family: 'Alfa Slab One', cursive;
  color:#47288b;
  font-size: 1.8rem;
  font-weight: lighter;
  text-align: center;
}

.main--parrafo{
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 2.5rem;
  text-align: justify;
}

.estilo--formulario{
  width: 30rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly;
  background-color: #27262c;
  border-radius: 2.5rem;
  box-shadow: 0px 1px 1px rgb(82, 82, 82);
  
}

.estilo--formulario h3{
  color: rgb(53, 47, 47);
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.label{
  
  display: flex;
  flex-direction: column;
  
  
}

.label--2{
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 4rem;
  background-color: #372f47;
  border: 1px solid #262130;
  box-shadow: inset 0px 2px 2px -1px rgba(74,74,104,.1);
  border-radius: 1rem;
  padding: 0 15px;
  
}

.contenedor--input{
  display: flex;
  flex-direction: row-reverse;
  width: 18rem;
  height: 4rem;
  background-color: #372f47;
  border: 1px solid #262130;
  box-shadow: inset 0px 2px 2px -1px rgba(74,74,104,.1);
  border-radius: 1rem;
  padding: 0 15px;
  align-items: center;
  justify-content: flex-start;
}

.input--focus:focus{
  outline: solid #47288b 4px;
}



.label h5{
  font-size: 1.3rem;
  color: #b8add2;
}

.label h4{
  font-weight: 600;
  font-size: 0.8rem;
  color: #865edd;
  font-family: 'Kanit', sans-serif;
}

input{
  width: 16rem;
  border: none;
  outline: none;
  color: #b8add2;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #372f47;
  text-align: left;
  padding-left: 8px;
  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }


.contenedor--interes--generado{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  background: linear-gradient(139.73deg,#313d5c,#3d2a54);
  border-radius: 16px;
  padding: 0 10px;
}

.contenedor--resultado{
  height: 10rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(83, 222, 233), rgb(118, 69, 217));
  border-radius: 1rem;
  padding: 1px;
}

.contenedor--interes--generado h4{
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;
  color: #9a6aff;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
}

.boton--calcular{
  width: 20.5rem;
  height: 4rem;
  border: none;
  background-color:#1fc7d4;
  color: #191326;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 2rem;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
}

.boton--calcular:hover{
  background-color: #1fc8d4c2;
  color: #313033;
}

.boton--calcular:active{
  transform: scale(0.95);
}

.resultado{
  font-weight: 500;
  font-size: 2rem;
  color: #f4eeff;
  font-family: 'Kanit', sans-serif;
  margin: 0;
}

/*FOOTER*/

footer{
  width: 100%;
  background-color: black;
  height: 4rem;
}

.tamaño--logo--linkedin{
  width: 2rem;
  height: 2rem;
}